* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    background-color: white;
}

.left{
    width: 40%;
    padding: 30px;
}

.right{
    position: fixed;
    height: 100vh;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55%;
    background: linear-gradient(45deg, #008cff, #00badb);
}

p {
    font-weight: 600;
    margin-top: 25px;
}

input[type="text"] {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #999999;
}

select {
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid #999999;
}


input[type="button"] {
    font-weight: 600;
    cursor: pointer;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    border: 0;
    outline: 0;
    border-radius: 50px;
    transition: 0.4s;
}


input[type="submit"] {
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    background: #008cff;
    color: white;
    border: 0;
    outline: 0;
    border-radius: 50px;
    transition: 0.4s;
}

input[type="submit"]:hover{
    background: #0072cf;
}

input[type="submit"]:active{
    background: #005eac;
}

input[type="button"]:hover{
    background: #d1d1d1;
}

input[type="button"]:active{
    background: #b1b1b1;
}

input[type="text"]:focus {
    border: 0;
    outline: 0;
    border-bottom: 2px solid #008cff;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.margintop{
    margin-top: 2%;
}

.row{
    padding-top: 2%;
    padding-bottom: 2%;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 45%;
    position: relative;
    background: white;
    justify-content: center;
    align-items: center;
    img{
        display: none;
        filter: brightness(0) invert(1);
    }
    h1{
        color: rgb(17, 17, 43);
        font-size: 2rem;
        margin-top: 2%;
        margin-left: 0px;
    }
}

h4, h2{
    color: white;
}

@media only screen and (max-width: 900px) {
    .right{
        display: none;
    }

    .margintop{
        margin-top: 20%;
    }

    .row{
        background: #008cff;
        position: fixed;
        h1{
            font-size: 1.5rem;
            margin-left: 20px;
            color: white;
        }
        img{
            display: block;
        }
        display: flex;
        padding-top: 5%;
    padding-bottom: 5%;
        width: 100%;
    }

    .left{
        width: 100%;
    }
  }

